.serviços{
    float: left;
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
}

.form-contato{
    width: 40%;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.input-contato{
    width: 80%;
}

.input-textarea{
    width: 80%;
}

.button-contato{
    background:#D8415A;
    box-shadow: 1px 1px 5px #9F4655;
    color: white;
}

.description-container{
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-left: 15px;
}

.description-image{
    width: 60%;
}

.description-text{
    float: right;
    width: 35%;
}

.grid-view{
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    float: left;
    text-align: center;
}