<div class="main-container">
    <div class="header-background">
    </div>
    <div class="card">
        <p>Somos uma empresa especializada em máquinas e equipamentos leves e pesados, linha amarela e cavalos mecânicos em geral</p>
        <p>Trabalhamos com todos os sistemas hidráulicos, bombas, comandos, pistões, transmissões. Motores a diesel de qualquer equipamento.</p>
        <p>Diferencial. Câmbios manuais e automáticos da linha pesada. Freios banhado a óleo, etc. Atendemos e fazemos orçamento em sua empresa.</p>
    </div>
</div>
