<div class="main-container">
    <div>
        <img class="header-background" src="../../../assets/images/header.jpg">
        <div class="card">
            <h1 style="margin-top: 10vh;">Trem de Força</h1>
            <P style="margin-top: -20px; margin-left: 5px;">Mecânica diesel</P>
            <br>
            <p>Somos uma empresa especializada em máquinas e equipamentos leves e pesados, linha amarela e cavalos mecânicos em geral</p>
            <p>Trabalhamos com todos os sistemas hidráulicos, bombas, comandos, pistões, transmissões. Motores a diesel de qualquer equipamento.</p>
            <p>Diferencial. Câmbios manuais e automáticos da linha pesada. Freios banhado a óleo, etc. Atendemos e fazemos orçamento em sua empresa.</p>
        </div>
    </div>
</div>
