<mat-toolbar class="toolbar">
  <button mat-button><span>MARCAS</span></button>
  <button mat-button><span>SOBRE NÓS</span></button>
  <button mat-button (click)="openDialog()"><span>CONTATO</span></button>
  <span class="fill-remaining-space"></span>
  <div class="float-buttons">
    <button mat-icon-button class="button-contact">
      <img src="../assets/icons/whatsapp.svg" height="40px">
    </button>
    <button mat-icon-button class="button-contact" (click)="gotoContact()">
      <img src="../assets/icons/gmail.svg" height="30px">
    </button>
  </div>
</mat-toolbar>
<div class="company-info">
  <h1>Trem de Força</h1>
  <br>
  mecanica diesel
</div>

<router-outlet></router-outlet>

<div class="footer">
  <p>
    Copyleft <span style="display: inline-block;transform: rotate(180deg);">&copy;</span>2020
    NatWoll
    <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html">GPL-2</a>
  </p>
</div>