<mat-toolbar class="toolbar">
  <button mat-button><span>MARCAS</span></button>
  <button mat-button><span>SOBRE NÓS</span></button>
  <button mat-button><span>CONTATO</span></button>
</mat-toolbar>

<div class="float-buttons">
  <button mat-icon-button (click)="openDialog()">
    <img src="../assets/icons/whatsapp.svg" height="40px">
  </button>
  <button mat-icon-button>
    <img src="../assets/icons/gmail.svg" height="30px">
  </button>
  <button mat-icon-button>
    <img src="../assets/icons/telephone.svg" height="30px">
  </button>
</div>

<router-outlet></router-outlet>

<div class="footer">

</div>